.button {
  display: block;
  width: 100%;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.button-go {
  background: #CAE2BC;
}
.button-pause {
  background: #F694C1;
}
.button-reset {
  background: #83C5E6;
}
.button:hover {
  font-weight: 700;
}
.button-go:hover {
  background: #B0BC98;
}
.button-pause:hover {
  background: #CA7A9E;
}
.button-reset:hover {
  background: #4EADDC;
}
.timer {
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}