<app-controls (started)="onStart($event)"
              (paused)="onPause($event)"
              (hasReset)="onReset($event)">

</app-controls>
<div class="game-timer">
  {{ timerService.getFullTimerString() }} 
</div>
<div class="card-grid" *ngIf="timerService.isRunning() || won">
  <app-card *ngFor="let card of cardService.cards"
            [card]="card"
            (flipped)="onFlipped($event)"
            [ngClass]="{ 'matched' : card.isMatched }"
            [ngStyle]="{ 'order': card.order }"
            class="card">
  </app-card>
</div>
<app-modal [showModal]="showModal"
           [modalTitle]="modalTitle"
           [modalContent]="modalContent"
           [buttonSubmitText]="modalButtonSubmitText"
           (submitted)="onModalSubmit($event)">
  <div *ngIf="won"
       class="text-center">
    YOU'VE WON!
  </div>
</app-modal>