.card {
  flex: 0 1 85px;
  height: 85px;

  border: 1px black solid;
  margin: 2.5px 2.5px;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
  }

  &.matched {
    border-color: #CAE2BC;
    opacity: .4;
    cursor: not-allowed;
  }
}

.game {
  &-timer {
    text-align: center;
    font-family: monospace;
    font-weight: 700;
  }
}