<app-controls (started)="onStart($event)"
              (paused)="onPause($event)"
              (hasReset)="onReset($event)">

</app-controls>
<app-card *ngFor="let card of cardService.cards"
          [card]="card"
          (flipped)="onFlipped($event)"
          [ngClass]="{ 'matched' : card.isMatched }"
          [ngStyle]="{ 'order': card.order }"
          class="card">
</app-card>
<app-timer [timer]="timer">

</app-timer>

<app-modal [showModal]="showModal"
           [modalTitle]="modalTitle"
           [buttonSubmitText]="modalButtonSubmitText"
           (submitted)="onModalSubmit($event)">
  <div *ngIf="won"
       class="text-center">
    YOU'VE WON!
  </div>
</app-modal>