<div *ngIf="showModal"
     class="modal-wrapper">
  <div class="modal">
    <div class="modal-header">
      <div class="modal-title">
        {{ modalTitle || 'Confirm' }}
      </div>
    </div>
    <div class="modal-body">
      {{ modalContent }}
    </div>
    <div class="modal-footer"
         [ngClass]="{ 'bg-white' : !(showButtonCancel || showButtonSubmit) }">
      <div class="button button-pause"
           *ngIf="buttonCancelText"
           (click)="showModal = false">
        {{ buttonCancelText || 'Cancel' }}
      </div>
      <div class="button button-go"
           *ngIf="buttonSubmitText"
           (click)="handleSubmitClick()">
        {{ buttonSubmitText || 'Submit' }}
      </div>
    </div>
  </div>
</div>